---
---

// Font stacks
$body-font: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol" !default;
$mono-font: "SFMono-Regular", Consolas, "Liberation Mono", Menlo, Courier, monospace !default;


* {
  box-sizing: border-box;
  padding: 0;
}

body {
  font-family: $body-font;
  font-size: 16px;
  line-height: 1.5;
  margin: 0;

  a {
    color: #1269d3;
    text-decoration: none;
    transition: 0.2s;

    &:hover {
      text-decoration: underline;
    }
  }

  code,
  pre {
    background-color: #f5f5f5;
  }

  code {
    font-family: $mono-font;
    font-size: 85%;
    padding: 0.2em 0.4em;
  }

  h1,
  h2,
  h3 {
    font-weight: 600;
    line-height: 1.25;
    margin: 1.5rem 0 1rem;
  }

  h1 {
    font-size: 2.5rem;
    margin: 1rem 0;
  }

  h2 {
    font-size: 1.75rem;
  }

  h3 {
    font-size: 1.25rem;
  }

  img {
    display: block;
    margin: auto;
    max-width: 100%;

    &.portrait {
      border-radius: 100%;
      float: right;
      margin: 1rem;
      margin-right: 0;
      max-width: 200px;
      width: 30%;

      @media (max-width: 480px) {
        float: none;
        margin: auto;
      }
    }
  }

  ol,
  p,
  ul {
    margin: 1rem 0;
  }

  ol,
  ul {
    padding-left: 2rem;

    &.blog-index {
      list-style: none;
      padding: 0;

      li {
        border-top: 1px solid #ddd;

        &:first-child {
          border-top: none;
        }
      }
    }
  }

  pre {
    line-height: 1.25;
    margin: 1rem 0;
    max-width: 100vw;
    overflow: auto;
    padding: 1rem 1rem;

    code {
      padding: 0;
    }
  }

  table {
    border-collapse: collapse;
    margin: auto;
    overflow: auto;
  }

  td,
  th {
    padding: 0 0.5rem;
    vertical-align: top;
  }

  thead th {
    border-bottom: 1px solid black;
    font-weight: 600;
  }

  time {
    color: #888;
    font-size: 80%;
    text-transform: uppercase;
  }

  header {
    background-color: #333;
    color: white;
    font-size: 90%;
    font-weight: 600;

    a {
      color: inherit;
      display: inline-block;
      margin: 1rem 1rem 1rem 0;

      &:hover {
        color: white;
        text-decoration: none;
      }
    }

    nav {
      color: #ccc;
      display: inline;
      margin-left: 1rem;
    }
  }

  footer {
    background-color: #f8f8f8;
    border-top: 1px solid #ddd;
    font-size: 80%;
    padding: 2rem 0;

    .footer-legal,
    .footer-links {
      display: inline-block;
    }

    .footer-links {
      float: right;

      a {
        margin-left: 1rem;
      }
    }
  }

  .banner {
    background-color: #f8f8f8;
    border-bottom: 1px solid #ddd;
    padding: 1rem 0;
  }

  .container {
    margin: auto;
    max-width: 768px;
    padding: 0 1rem;

    &::after {
      clear: both;
      content: "";
      display: table;
    }

    &::before {
      display: table;
      content: "";
    }
  }

  .content {
    min-height: calc(100vh - 3.5rem - 5.5rem);
  }
}

.c, .c1 { color: #AAAAAA; font-style: italic;}  // Comments
.k { color: #0074D9; } // Keywords
.kc { color: purple; }  // Keyword.Constants
.m { color: purple; }  // Number.Literals
.na { color: purple; }  // Name.Attributes
.nf { color: purple; }  // Name.Functions
.nt { color: #0074D9; }  // Name.Tags
.o { color: #888888; }  // Operators
.s, .s2 { color: green; }  // Strings
