// Headings

h1, h2, h3, h4, h5, h6 {
	margin: 2rem 0 1rem 0;
}

h1 {
  font-size: 2rem;
}

h2 {
  font-size: 1.25rem;
}


// Block objects

li {
	margin-left: 2rem;
}

p, ul, ol {
  margin: 0 0 1rem;
}


// Hyperlinks

a {
	color: $link-color;
	text-decoration: none;

	&:hover {
		text-decoration: underline;
	}
}
